extends layout
block content
 h1= title
 - let animalid = toShow._id
 - let animalspecies = toShow.species
 - let animalhabitat = toShow.habitat
 - let animalpopulation = toShow.population
 div
 div.row
 div(class='animalAttr mr-3') Animal ID is:
 div #{animalid}
 div.row
 div(class='animalAttr mr-3') Animal Species is:
 div #{animalspecies}
 div.row
 div(class='animalAttr mr-3') Animal Habitat is:
 div #{animalhabitat}
 div.row
 div(class='animalAttr mr-3') Animal Population is:
 div #{animalpopulation}